<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <header>
      <p class="header text_shadow">Music App</p>
      <nav>
        <% if logged_in? %>
          <h3> Yo, <%= current_user.email%></h3>
          <form action="<%= session_url%>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Make like a tree and logout">
          </form>
        <% else%>
          <a class="navlinks" href="<%= new_session_url%>">Log in to your bass</a><br>
          <a class="navlinks" href="<%=new_user_url%>">Make some treble</a>
        <% end%>
      </nav>
    </header>
  </head>

  <body>



    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
      <li><%= error  %></li>
      <% end%>
    <% end%>

    <%= yield %>
  </body>
</html>
